body {
    text-align: center;
    background-color: #81C784;
}

table {
    margin-left: auto;
    margin-right: auto;
    color: black;
}


th {
    text-align: center;
}

#currentRoomInList {
    font-weight: bold;
}

.col-lg-12 {
    color: white;
}

#headingThree {
    background-color: #E8F5E9;
}